<form action="/cart" method="post">
    Qty: <input class="qty-input" type="text" id="adQty" name="adQty" value="1">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="adId" value="<%= ad._id %>">
</form>